.footer {
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  height: 40px;
  padding: 25px;
  position: fixed;
  width: 100%;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  height: 80px;
  gap: 60%;
  background-color: black;
  color: red;
  position: fixed;
  width: 100%;
  margin-top: 0%;
  z-index: 1;
}
#header div {
  display: flex;
  flex-wrap: wrap;
}
#App {
  text-align: center;
  background-color: red;
  padding-bottom: 100px;
  padding-top: 100px;
}
.list-movies {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
#card {
  background-color: crimson;
  border-radius: 5px;
}
#btn-fixed {
  position: fixed;
  bottom: 80px;
  left: 75px;
}
#btn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
